body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.C1{
  float: left;
  height: 50%;
  width: 50%;
}

.C2{
  float: right;
  height: 50%;
  width: 50%;
}

.Face{
  display: table-cell;
  height: 200px;
  width: 200px;
  background-color: #555;
  position: relative;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  left: 850px;
  top: 750px;
}

.HB{
 height: 20px;
 width: 30px;
 position: absolute;
 background-color: red;
 left: 1025px;
 top: 935px;
}

.LB{
  height: 20px;
  width: 30px;
  position: absolute;
  background-color: gray;
  left: 1025px;
  top: 910px;
}
.UB{
  height: 20px;
  width: 30px;
  position: absolute;
  background-color: lightgreen;
  left: 862px;
  top: 885px;
}
.DB{
  height: 20px;
  width: 30px;
  position: absolute;
  background-color: lightcoral;
  left: 862px;
  top: 910px;
}
.ULTB{
  height: 20px;
  width: 30px;
  position: absolute;
  background-color: orange;
  left: 862px;
  top: 935px;
}

.card{
  float: left;
  text-align: center;
  height: 200px;
  width: 140px;
  margin-left: 80px;
  background-color: lightgray;
  -webkit-user-drag: element;
  outline: 1px solid black;
}

.ADDL{
  position: absolute;
  left:0;
  bottom: 0;
}

.hand{
  position: absolute;
  float: left;
  text-align: center;
  height: 200px;
  width: 140px;
  margin-left: 40px;
  background-color: lightseagreen;
  -webkit-user-drag: element;
  outline: 1px solid black;
}

.field{
  position: absolute;
  background-color:whitesmoke;
  width: 1700px;
  height: 200px;
  left: 0px;
  top: 500px;
  margin-left: 100px;
}

.field_card{
  float: left;
  text-align: center;
  height: 200px;
  width: 140px;
  margin-left: 40px;
  background-color: lightseagreen;
  -webkit-user-drag: element;
  outline: 1px solid black;
}

.timer{
  position: absolute;
  width: 200px;
  height: 75px;
  left: 0px;
  top: 413.5px;
  background-color: pink;
  text-align: center;
}